/* Basic page stuff */
/* line 4, ../sass/corporate.scss */
body {
  background-color: #dddddd;
  color: #333;
  padding: 0;
}

/* line 9, ../sass/corporate.scss */
#page {
  background-color: white;
}

/* Corporate header*/
/* line 13, ../sass/corporate.scss */
#header {
  border-bottom: 10px solid #ffcc00;
  min-height: 110px;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 20, ../sass/corporate.scss */
#header #header-inner {
  max-width: 980px;
  position: relative;
  margin: 30px auto 30px auto;
  overflow: hidden;
}
/* line 26, ../sass/corporate.scss */
#header #logo {
  float: left;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #333;
  width: 191px;
  height: 70px;
}
/* line 35, ../sass/corporate.scss */
#header #name-and-slogan h1 {
  font-size: 35px;
}
/* line 37, ../sass/corporate.scss */
#header #name-and-slogan h1 a {
  font-weight: normal;
}
/* line 39, ../sass/corporate.scss */
#header #name-and-slogan h1 a:hover {
  text-decoration: none;
}

@media all and (max-width: 640px) {
  /* line 47, ../sass/corporate.scss */
  #header {
    text-align: center;
  }
  /* line 49, ../sass/corporate.scss */
  #header #logo {
    float: none;
    border: none;
    margin-right: 0;
    padding-right: 0;
  }
  /* line 54, ../sass/corporate.scss */
  #header #logo img {
    width: 191px;
    height: 70px;
  }
  /* line 59, ../sass/corporate.scss */
  #header #name-and-slogan {
    clear: both;
    float: none;
  }
  /* line 63, ../sass/corporate.scss */
  #header #block-unswsearchbox-header-search {
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Main Menu */
/* line 72, ../sass/corporate.scss */
#navigation {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e1e1e), color-stop(100%, #2e2e2e));
  background-image: -webkit-linear-gradient(#1e1e1e, #2e2e2e);
  background-image: -moz-linear-gradient(#1e1e1e, #2e2e2e);
  background-image: -o-linear-gradient(#1e1e1e, #2e2e2e);
  background-image: linear-gradient(#1e1e1e, #2e2e2e);
  height: 39px;
  padding: 0 10px;
  padding-top: 5px;
}
/* line 78, ../sass/corporate.scss */
#navigation ul.nice-menu a {
  text-decoration: none;
  display: block;
  font-size: 15px;
  line-height: 16px;
  color: white;
  height: 16px;
  padding: 8px 40px 10px 40px;
}
/* line 86, ../sass/corporate.scss */
#navigation ul.nice-menu a:hover {
  background-color: white;
  color: #1e1e1e;
}

/* line 93, ../sass/corporate.scss */
#navigation ul.nice-menu, ul.nice-menu ul, ul.nice-menu-down li {
  border: none;
  background-color: transparent;
}

/* line 97, ../sass/corporate.scss */
#navigation ul.nice-menu-down li.menuparent:hover, ul.nice-menu-down li.menuparent {
  background-color: transparent;
  background-image: none;
}

/* line 101, ../sass/corporate.scss */
#navigation ul.nice-menu li.menuparent ul {
  border: 4px solid #ccc;
  background-color: #fafafa;
}
/* line 103, ../sass/corporate.scss */
#navigation ul.nice-menu li.menuparent ul a {
  color: #00568e;
}

/* line 108, ../sass/corporate.scss */
ul.nice-menu ul {
  top: 34px;
}

/* Corporate footer */
/* line 112, ../sass/corporate.scss */
#footer {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 11px;
  line-height: 16px;
  color: #888888;
  background: #231f20;
  position: relative;
  border-bottom: 5px solid #ffcc00;
}
/* line 122, ../sass/corporate.scss */
#footer p {
  margin: 5px 0;
}
/* line 125, ../sass/corporate.scss */
#footer ul {
  padding-left: 0;
}
/* line 128, ../sass/corporate.scss */
#footer h2 {
  display: none;
}
/* line 131, ../sass/corporate.scss */
#footer h4 {
  margin: 0 0 0 5px;
}
/* line 134, ../sass/corporate.scss */
#footer #block-menu-menu-footer ul.menu {
  list-style-type: none;
  font-weight: normal;
  margin: 0;
}
/* line 139, ../sass/corporate.scss */
#footer #block-menu-menu-footer ul.menu li {
  display: block;
  float: left;
  margin: 0;
}
/* line 144, ../sass/corporate.scss */
#footer #block-menu-menu-footer ul.menu a {
  display: block;
  padding: 0 10px;
  border-left: 1px solid #fc0;
}
/* line 149, ../sass/corporate.scss */
#footer #block-menu-menu-footer ul.menu li.first a {
  padding-left: 0;
  border-left: 0;
}
/* line 153, ../sass/corporate.scss */
#footer #block-menu-menu-footer ul.menu a:link, #footer #block-menu-menu-footer ul.menu a:visited, #footer #block-menu-menu-footer ul.menu a:active {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}
/* line 158, ../sass/corporate.scss */
#footer #block-menu-menu-footer ul.menu a:hover {
  color: #ffcc00;
  text-decoration: underline;
}

/* Corporate subfooter */
/* line 165, ../sass/corporate.scss */
#footer-group-wrapper {
  background-color: #ededed;
  color: #4f4f4f;
  padding: 0 10px 20px 10px;
}
/* line 169, ../sass/corporate.scss */
#footer-group-wrapper #footer-group {
  padding: 20px 0 10px 0;
  width: 100%;
  font-size: 11px;
  line-height: 14px;
  overflow: hidden;
  border-bottom: 1px dotted #ccc;
  color: #4f4f4f;
  font-size: 0.9em;
  text-align: center;
}
/* line 179, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul {
  float: right;
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
  width: 100%;
}
/* line 187, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li {
  width: 170px;
  float: left;
  margin-left: 5px;
  vertical-align: top;
  height: 60px;
}
@media all and (max-width: 480px) {
  /* line 187, ../sass/corporate.scss */
  #footer-group-wrapper #footer-group ul li {
    float: none;
  }
}
/* line 196, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li.first {
  margin-left: 0;
  width: 160px;
}
/* line 200, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li a {
  text-decoration: none;
  display: block;
  padding: 15px 10px 10px 40px;
  color: #666;
}
/* line 205, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li a:hover {
  text-decoration: underline;
}
/* line 209, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li.go8 a {
  background: url(../images/icons/logo-go8.png) no-repeat 0px 5px;
  padding: 0px 10px 0px 70px;
}
/* line 213, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li.uni21 a {
  background: url(../images/icons/logo-uni21.png) no-repeat 0px 3px;
  padding-top: 10px;
}
/* line 217, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li.gt {
  width: 205px;
}
/* line 219, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li.gt a {
  background: url(../images/icons/logo-globaltech.png) no-repeat 0px 0;
  padding-left: 65px;
  padding-top: 0;
}
/* line 225, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li.apru {
  width: 235px;
}
/* line 227, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li.apru a {
  background: url(../images/icons/logo-apru.png) no-repeat 0px 5px;
  padding-left: 110px;
  padding-top: 0;
}
/* line 233, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li.empl-women {
  width: 140px;
}
/* line 235, ../sass/corporate.scss */
#footer-group-wrapper #footer-group ul li.empl-women a {
  background: url(../images/icons/logo-women.png) no-repeat 0px 0;
  padding-top: 0;
  padding-right: 0;
}

/* Share links */
/** Social Media icons **/
/* line 248, ../sass/corporate.scss */
#block-boxes-unsw-social-icons {
  width: 330px;
  margin-top: 0px;
  float: right;
}
/* line 252, ../sass/corporate.scss */
#block-boxes-unsw-social-icons p {
  margin: 0;
}
/* line 255, ../sass/corporate.scss */
#block-boxes-unsw-social-icons .boxes-box-controls {
  display: none;
}
/* line 258, ../sass/corporate.scss */
#block-boxes-unsw-social-icons span {
  font-weight: bold;
}
/* line 261, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul {
  padding-left: 0;
  margin: 0;
}
/* line 264, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 271, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul li {
  width: 95px;
  padding: 5px 0;
  display: block;
  float: left;
}
/* line 276, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul li a {
  font-weight: normal;
  text-decoration: none;
  color: #ffcc00;
}
/* line 280, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul li a:hover {
  text-decoration: underline;
}
/* line 283, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul li a.facebook {
  background: url(../images/icons/socialnetwork2.png) no-repeat 0px -2px;
  padding: 5px 0px 5px 30px;
}
/* line 287, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul li a.twitter {
  background: url(../images/icons/socialnetwork2.png) no-repeat 0px -31px;
  padding: 5px 0px 5px 30px;
}
/* line 291, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul li a.googleplus {
  background: url(../images/icons/socialnetwork2.png) no-repeat 0px -120px;
  padding: 5px 0px 5px 30px;
}
/* line 295, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul li a.itunesu {
  background: url(../images/icons/socialnetwork2.png) no-repeat 0px -61px;
  padding: 5px 0px 5px 30px;
}
/* line 299, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul li a.youtube {
  background: url(../images/icons/socialnetwork2.png) no-repeat 0px -90px;
  padding: 5px 0px 5px 30px;
}
/* line 303, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul li a.linkedin {
  background: url(../images/icons/socialnetwork2.png) no-repeat 0px -148px;
  padding: 5px 0px 5px 30px;
}
/* line 310, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul.menu li.leaf.long {
  width: 115px;
}
/* line 313, ../sass/corporate.scss */
#block-boxes-unsw-social-icons ul.menu li a {
  font-weight: normal;
  font-size: 0.9em;
  color: #FDCC00;
}

/* line 320, ../sass/corporate.scss */
#block-unswlatestupdated-footer {
  clear: both;
}

/* line 323, ../sass/corporate.scss */
#block-boxes-unsw-footer-text {
  width: 360px;
  padding-top: 10px;
}

/* line 327, ../sass/corporate.scss */
#block-unswsearchbox-header-search {
  right: 0px;
  top: 0px;
  height: 65px;
}
/* line 331, ../sass/corporate.scss */
#block-unswsearchbox-header-search input[type=text] {
  height: 24px;
}

@media all and (max-width: 850px) {
  /* line 336, ../sass/corporate.scss */
  #block-unswsearchbox-header-search {
    position: relative;
    float: right;
    margin-right: 20px;
  }
}
@media all and (max-width: 720px) {
  /* line 345, ../sass/corporate.scss */
  #block-boxes-unsw-social-icons,
  #block-unswiconbar-iconbar-footer #icons,
  #footer .block {
    float: none !important;
    clear: both !important;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }

  /* line 352, ../sass/corporate.scss */
  #block-menu-menu-footer {
    text-align: center;
  }
}
/* line 356, ../sass/corporate.scss */
p#back-to-top {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  background: transparent url(../images/back-to-top-arrow.png) 70px 0 no-repeat;
  width: 86px;
  margin: 0;
}
/* line 365, ../sass/corporate.scss */
p#back-to-top a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
/* line 369, ../sass/corporate.scss */
p#back-to-top a:hover {
  text-decoration: underline;
}
