/* 
Defines branded header, navigation bar and footer.

Please add your own site-specific CSS to site.scss

*/

@import "init";

body{
  background-color: $body-background;
  color: #333;
  padding: 0;
}
#page{
  background-color: $page-background;
}
#page-title{
  padding-bottom: 1.0em;
}
a{
  text-decoration: none;
  color: $corporate-blue;
  &:hover, &.active, &.active-trail{
    text-decoration: underline;
  }
}
h1, h2, h3, h4, h5, h6{
  color: $charcoal;
  margin: 0 0 1.0em 0;
  line-height: 1.0em;
}
p{
  margin: 0 0 1.0em 0;
}
hr{
  border: 1px solid #ebebeb;
}



/* Corporate header*/
#header{
  border-bottom: 10px solid $corporate-yellow;
  min-height: 90px;
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;
  #header-inner{
    max-width: $content-max;
    position: relative;
    margin: 20px;
    overflow: hidden;
  }
  #logo{
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #333;
    width: 191px;
    height: 70px;
  }
  #name-and-slogan{
    padding-top: 10px;
    h1{
      font-size: 35px;
      a{
        font-weight: normal;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}


/* Main Menu */
#navigation{
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 34px;
  height: 100%;
}
.slicknav_menu {
	display:none;
}
.slicknav_nav a,
.slicknav_nav .slicknav_row{
  margin: 0 !important;
}
.slicknav_nav a:hover,
.slicknav_nav .slicknav_row:hover{
  background: #999 !important;
}
/* Main menu */
.block-nice-menus{
  @include background-image(linear-gradient($darkestgrey, $darkgrey));
  min-height: 34px;
  padding: 0;
  ul.nice-menu{
    width: 100%;
    li.first {
      background: transparent url("../images/navmenu/home.png") no-repeat 20px 8px;
      a{
        text-indent: -1000px;
        padding: 0;
        width: 60px;
        &:hover, &:hover.active{
          background: #fac800 url("../images/navmenu/home-active.png") no-repeat 20px 8px;
          -webkit-box-shadow: inset 0px 8px 18px -11px rgba(0,0,0,0.75);
          -moz-box-shadow: inset 0px 8px 18px -11px rgba(0,0,0,0.75);
          box-shadow: inset 0px 8px 18px -11px rgba(0,0,0,0.75);
        }
        &.active{
          background: transparent url("../images/navmenu/home.png") no-repeat 20px 8px;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
    li{
      a{
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
        /*text-shadow: 0 -1px 0 #121314;*/
        font-size: 1.0em;
        line-height: 34px;
        padding: 0 23px;
        text-align: center;
        display: block;
        border-right: 1px solid #474747;
        &.active, &:hover, &.active-trail{
          background-color: #fac800;
          color: $darkgrey;
          -webkit-box-shadow: inset 0px 8px 18px -11px rgba(0,0,0,0.75);
          -moz-box-shadow: inset 0px 8px 18px -11px rgba(0,0,0,0.75);
          box-shadow: inset 0px 8px 18px -11px rgba(0,0,0,0.75);
        }
      }
    }
    li.active-trail a{
      background-color: #fac800;
      color: $darkgrey;
      -webkit-box-shadow: inset 0px 8px 18px -11px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 8px 18px -11px rgba(0,0,0,0.75);
      box-shadow: inset 0px 8px 18px -11px rgba(0,0,0,0.75);
    }
  }
}
#navigation ul.nice-menu, ul.nice-menu ul, ul.nice-menu-down li{
  border: none;
  background-color: transparent;
}
#navigation ul.nice-menu-down li.menuparent:hover, ul.nice-menu-down li.menuparent{
  background-color: transparent;
  background-image: none;
}
#navigation ul.nice-menu li.menuparent ul{
  border: 4px solid #ccc;
  a{
    color: $corporate-blue;
  }
  background-color: #fafafa;
}
ul.nice-menu ul{
  top: 34px;
}




/* Breadcrumbs */
#breadcrumb{
  padding: 25px 0;
  position: relative;
}
.breadcrumbs {
  padding: 0;
  color: #1F1F1F;
}
ul.breadcrumbs {
    font-size: 12px;
    list-style: none outside none;
    margin: 0;
}
ul.breadcrumbs li {
    float: left;
    height: 22px;
    margin: 0 0 0 -9px;
    padding-left: 20px;
}
ul.breadcrumbs li a,
ul.breadcrumbs li span{
    background: url("../images/breadcrumb/crumb.png") no-repeat right center;
    float: left;
    line-height: 22px;
    padding: 0 20px 0 0;
    color: #878787;
}
ul.breadcrumbs li.first {
    margin-left: 0;
    padding: 0;
}
ul.breadcrumbs li.last {
    color: #878787;
}
ul.breadcrumbs li.last span {
    background: none;
    display: block;
    line-height: 24px;
    margin: -1px -9px 0 0;
    padding-right: 20px;
}




/* Corporate Right Sidebar */
.region-sidebar-second{
  padding: 30px 30px 0 0;
  .block{
    background-color: $block-background;
    .block-content-wrapper{
      padding: 20px 20px 10px 20px;
      h2{
        font-size: 1.143em;
        line-height: 1.2em;
        margin-bottom: 1.0em;
      }
    }
  }
}


/* Corporate Banner Section */
.region-banner{
  height: auto;
  /*overflow: hidden;*/
  padding: 0;
  position: relative;
}


/* Corporate Main Content */
#main{
  padding: 0 0 40px 0;
}
#main > #content{
  padding: 0 30px;
}





/* Corporate footer */
#footer{
  padding: 25px 30px 25px 30px;
  font-size: 85.71%;
  line-height: 16px;
  color: #888888;
  background: #231f20;
  position: relative;
  p{
    margin: 0;
  }
  ul{
    padding-left: 0;
  }
  h2{
    display: none;
  }
  h4{
    margin: 0 0 0 5px;
  }
  #block-menu-menu-footer ul.menu:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  #block-menu-menu-footer ul.menu {
    list-style-type: none;
    font-weight: normal; 
    margin: 0;
    padding: 0;
  }
  #block-menu-menu-footer ul.menu li {
    list-style: none outside none;
    margin: 0;
    padding-bottom: 20px;
  }
  #block-menu-menu-footer ul.menu a {
    display: block;
  }
  #block-menu-menu-footer ul.menu li.last {
    padding-bottom: 0;
  }
  #block-menu-menu-footer ul.menu a:link, #block-menu-menu-footer ul.menu a:visited, #block-menu-menu-footer ul.menu a:active {
    color: $corporate-yellow;
    text-decoration: none;
    font-weight: bold;
  }
  #block-menu-menu-footer ul.menu a:hover {
    color: $corporate-yellow;
    text-decoration: underline;
  }
}





/* 
 * Shared share-box settings
 */
.block-unswiconbar div.share-box {
  background: #fff;
  border: 1px solid #00568e;
  color: #0a6ba0;
  display: none;
  padding: 20px;
  width: 230px;
  position: absolute;
  top: -60px;
  right: -270px;
  z-index: 1000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
}
.block-unswiconbar ul#icons li div.share-box h4 {
  font-size: 14px;
  font-weight: normal;
}
.block-unswiconbar ul#icons li div.share-box ul.share-links {
  width: 215px;
  margin-bottom: 1em;
}
.block-unswiconbar ul#icons li div.share-box ul li {
  float: none;
}
.block-unswiconbar ul#icons li div.share-box ul li a{
  color: #00568e;
}
.block-unswiconbar ul#icons li div.share-box ul li a:hover{
  text-decoration: underline;
}
.block-unswiconbar .feature-share{
  padding: 20px 10px 20px 10px;
  float: left;
}
.block-unswiconbar .feature-share .twitter-share-button{
  margin: 0px 5px 0 0;
}
.block-unswiconbar .feature-share .fb-like{
  display: inline;
  
}
#block-unswiconbar-iconbar-footer {
    float: right;
    /*width: 150px;*/
    width: 12.82%;
    height: 70px;
}
#block-unswiconbar-iconbar-footer .content{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
#block-unswiconbar-iconbar ul#icons > li {
  border-color: #fff;
  height: 60px;
}
#block-unswiconbar-iconbar ul#icons > li > a {
  background: url(../images/icons/iconbar.png) no-repeat -125px 0;
  color: #778d9a;
  display: block;
  margin: 0;
  padding: 40px 0 0 0;
  text-align: center;
  width: 48px;
  height: 20px;
}
#block-unswiconbar-iconbar ul#icons li.share:hover {
  border: 1px solid #415662;
  border-bottom: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
}
#block-unswiconbar-iconbar ul#icons li.share:hover > a.share{
  position: absolute;
  z-index: 1001;
  right: 0;
  top: 0;
  background: #fff url(../images/icons/iconbar-hover.png) no-repeat 13px 5px;
  color: #00568e;
  text-decoration: none;
}
#block-unswiconbar-iconbar ul#icons li a.print {
  background: url(../images/icons/iconbar-hover.png) no-repeat -32px 5px;
}
#block-unswiconbar-iconbar div.share-box {
  top: 59px;
  right: -50px;
}






/* Corporate subfooter */
#footer-group-wrapper{
  background-color: #ededed;
  color: #4f4f4f;
  padding: 0 10px 20px 10px;
  #footer-group {
    padding: 20px 0 10px 0;
    width: 100%;
    font-size: 11px;
    line-height: 14px;
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    color: #4f4f4f;
    font-size: 0.9em;
    text-align: center;
    ul{
      float: right;
      list-style: none;
      list-style-image: none;
      padding: 0;
      margin: 0;
      font-size: 11px;
      width: 100%;
      li{
        width: 170px;
        float: left;
        margin-left: 5px;
        vertical-align: top;
        @media all and (max-width: 480px){
          float: none;
        }
        height: 60px;
        &.first{
          margin-left: 0;
          width: 160px;
        }
        a{
          text-decoration: none;
          display: block;
          padding: 15px 10px 10px 40px;
          color: #666;
          &:hover{
            text-decoration: underline;
          }
        }
        &.go8 a{
          background: url(../images/icons/logo-go8.png) no-repeat 0px 5px;
          padding: 0px 10px 0px 70px;
        }
        &.uni21 a{
          background: url(../images/icons/logo-uni21.png) no-repeat 0px 3px;
          padding-top: 10px;
        }
        &.gt{
          width: 205px;
          a{
            background: url(../images/icons/logo-globaltech.png) no-repeat 0px 0;
            padding-left: 65px;
            padding-top: 0;
          }
        }
        &.apru {
          width: 235px;
          a{
            background: url(../images/icons/logo-apru.png) no-repeat 0px 5px;
            padding-left: 110px;
            padding-top: 0;
          }
        }
        &.empl-women {
          width: 140px;
          a{
            background: url(../images/icons/logo-women.png) no-repeat 0px 0;
            padding-top: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}
/* Share links */

/** Social Media icons **/
#block-boxes-unsw-social-icons{
  width: 330px;
  margin-top: 0px;
  float: right;
  p{
    margin: 0;
  }
  .boxes-box-controls{
    display: none;
  }
  span{
    font-weight: bold;
  }
  ul{
    padding-left: 0;
    margin: 0;
    &:after{
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden;
    }
    li {
      width: 95px;
      padding: 5px 0;
      display: block;
      float: left;
      a{
        font-weight: normal;
        text-decoration: none;
        color: $corporate-yellow;
        &:hover{
          text-decoration: underline;
        }
        &.facebook{
          background: url(../images/icons/socialnetwork2.png) no-repeat 0px -2px;
          padding: 5px 0px 5px 30px;
        }
        &.twitter{
          background: url(../images/icons/socialnetwork2.png) no-repeat 0px -31px;
          padding: 5px 0px 5px 30px;
        }
        &.googleplus{
          background: url(../images/icons/socialnetwork2.png) no-repeat 0px -120px;
          padding: 5px 0px 5px 30px;
        }
        &.itunesu{
          background: url(../images/icons/socialnetwork2.png) no-repeat 0px -61px;
          padding: 5px 0px 5px 30px;
        }
        &.youtube{
          background: url(../images/icons/socialnetwork2.png) no-repeat 0px -90px;
          padding: 5px 0px 5px 30px;
        }
        &.linkedin{
          background: url(../images/icons/socialnetwork2.png) no-repeat 0px -148px;
          padding: 5px 0px 5px 30px;
        }
      }
    }
  }
  ul.menu li.leaf.long{
    width: 115px;
  }
  ul.menu li a{
    font-weight: normal;
    font-size: 0.9em;
    color: #FDCC00;
  }

}
#block-menu-menu-footer{
  float: left;
  width: 25%;
}
#block-menu-menu-unsw-resources .content ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
#block-menu-menu-unsw-resources .content ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#block-menu-menu-unsw-resources .content ul li{
  list-style: none outside none;
  margin: 0;
  padding-bottom: 7px;
}
#block-menu-menu-unsw-resources .content ul li.last{
  padding-bottom: 0;
}
#block-menu-menu-unsw-resources .content ul li a{
  display: block;
  font-size: 14px;
  color: #ffffff;
}

.connect-block{
  float: right;
}
.connect-block .text-center{
  
}
#block-unswlatestupdated-footer{
  float: left;
  width: 40%;
}
#block-boxes-unsw-footer-text{
  width: 40%;
  float: left;
}
#block-unswsearchbox-header-search{
  height: 65px;
  input[type=text]{
    height: 24px;
  }
}
p#back-to-top{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  background: transparent url(../images/back-to-top-arrow.png) 70px 0 no-repeat;
  width: 86px;
  margin: 0;
  a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

/****** RESPONSIVE SCREEN SIZES ******/

/** HEADER **/
@media all and (max-width: 640px){
  #header{
    text-align: center;
    #logo{
      margin-right: 10px;
      padding-right: 10px;
      img{
        width: 191px;
        height: 70px;
      }
    }
    #name-and-slogan{
      /* padding-top: 0px; // uncomment if header wraps and you need to move up the title */
      h1{
        line-height: 1em;
        font-size: 2.5em;
      }
    }
  }
}
@media all and (max-width: 480px){
  #header #header-inner{
    margin: 10px 30px;
    #logo{
      margin-right: 0px;
      padding-right: 0px;
      width: 100%;
      border-right: none;
      text-align: center;
    }
    #name-and-slogan{
      width: 100%;
      padding-top: 5px;
      h1{
        font-size: 35px;
        line-height: 1.42857em;
        text-align: center;
      }
    }
  }
}
@media all and (max-width: 320px){
  #header #header-inner #name-and-slogan h1{
    font-size: 33px;
  }
}



/** SEARCH BOX **/
@media all and (max-width: 720px){
  #block-unswsearchbox-header-search{
    display: none;
  }
}


/** NAV MENU **/
@media all and (max-width: 720px){
  .js .block-nice-menus {
		display:none;
	}
  .js .slicknav_menu {
		display:block;
	}
}


/** MAIN CONTENT **/


/** FOOTER **/
@media all and (max-width: 900px) {
  .connect-block{
    position: absolute;
    right: 30px;
    bottom: 0px;
  }
  #block-unswiconbar-iconbar-footer{
    width: 20%;
  }
}
@media all and (max-width: 720px){
  #footer {
    padding: 25px 0;
  }
  #block-boxes-unsw-social-icons,
  #block-unswiconbar-iconbar-footer,
  #footer .block{
    float: none !important;
    clear: both !important;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #block-menu-menu-footer, #block-unswiconbar-iconbar-footer, #block-boxes-unsw-footer-text, #block-unswlatestupdated-footer{
    text-align: left;
  }
  #footer .block-content-wrapper{
    padding: 0 30px;
  }
  .connect-block{
    position: static;
    top: 0;
    left: 0;
    text-align: left;
  }
}
